html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 160%;
    color: #333333;
    font-weight: 400;
    background-color: #ffffff;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
    font-weight: 700;
    line-height: 130%;
    font-size: 48px;
}

.title::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    height: 15px;
    opacity: 10%;
    background-color: #2352de;
}

.section {
    padding: 140px 0;
}

.button {
    border: none;
    background-color: #2352de;
    color: #ffffff;
    font-weight: 600;
    padding: 12px 24px;
    cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    position: relative;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
}

.header::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2352de;
    opacity: 50%;
}

.header__logo {
    z-index: 2000;
}

.logo__img {
    width: 158px;
    height: 52px;
}

.header__inner {
    position: relative;
    z-index: 5;
}

.header__top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 75px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__item:not(:last-child) {
    margin-right: 35px;
}

.menu__link {
    margin-top: auto;
    font-weight: 600;
}

.menu__burger {
    display: none;
}

.header__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin-top: auto;
    padding-top: 128px;
    z-index: 10;
}

.menu__link,
.header__title,
.header__span,
.header__link {
    line-height: 130%;
}

.header__title {
    margin-top: auto;
    font-weight: 400;
    font-size: 48px;
}

.header__span {
    display: block;
    max-width: 550px;
    font-size: 90px;
    font-weight: 700;
}

.header__link {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 70px;
    font-weight: 600;
}

.header__link::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    width: 37px;
    height: 21px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-50%);
}

.about__text p:not(:last-child) {
    margin-bottom: 25px;
}

.skills,
.reviews {
    background-color: #f6f6f8;
}

.skills__inner {
    display: flex;
    align-items: center;
}

.skills__info {
    width: 100%;
}

.skills__img {
    margin-right: 90px;
}

.skills__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 100%;
    font-weight: 600;
    text-transform: uppercase;
}

.skills__item:not(:last-child) {
    margin-bottom: 86px;
}

.skills__unfill {
    position: relative;
    max-width: 600px;
    width: 100%;
    height: 32px;
    background-color: #dbdbed;
}

.skills__fill {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    background-color: #2352de;
}

.service__title {
    margin-bottom: 152px;
}

.service__items {
    display: flex;
}

.service__item {
    position: relative;
    max-width: 330px;
}

.service__item::before {
    content: "";
    position: absolute;
    top: -85px;
    left: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

.service__item--code::before {
    background-image: url("../img/code-icon.svg");
}

.service__item--dev::before {
    background-image: url("../img/dev-icon.svg");
}

.service__item--support::before {
    background-image: url("../img/support-icon.svg");
}

.service__item:not(:last-child) {
    margin-right: 90px;
}

.service__headding {
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 600;
}

.service__text {
    font-size: 16px;
}

.service__text p:not(:last-child) {
    margin-bottom: 10px;
}

.works {
    padding-bottom: 140px;
}

.works__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
}

.works__catalog:not(:last-child) {
    margin-right: 30px;
}

.works__btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
}

.works__items {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 45px;
    margin-bottom: 55px;
}

.reviews__inner {
    max-width: 1055px;
    margin: 0 auto;
}

.reviews__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    font-size: 24px;
}

.reviews__author {
    display: block;
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.reviews__name {
    margin-bottom: 20px;
    font-weight: 600;
    color: #2352de;
}

.reviews__text {
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

.reviews__video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 570px;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.reviews__video::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 86px;
    height: 100px;
    background-image: url("../img/video-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.reviews__video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    opacity: 30%;
}

.slick-initialized .slick-slide {
    display: flex;
}

.slick-dots {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: -50px;
}

.slick-dots li:not(:last-child) {
    margin-right: 20px;
}

.slick-dots button {
    width: 20px;
    height: 20px;
    font-size: 0;
    border-radius: 50%;
    background-color: #2352de;
    border: none;
    cursor: pointer;
}

.slick-active button {
    background-color: #dbdbed;
}

.statistics__items {
    display: flex;
}

.statistics__item:not(:last-child) {
    margin-right: 17px;
}

.statistics__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
    width: 100%;
    padding: 150px 10px 43px;
    background-color: #f6f6f8;
    border: 1px solid #dbdbed;
}

.statistics__item::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-50%);
}

.statistics__item--works::before {
    width: 97px;
    background-image: url("../img/works-icon.svg");
}

.statistics__item--clients::before {
    width: 91px;
    background-image: url("../img/clients-icon.svg");
}

.statistics__item--coffee::before {
    background-image: url("../img/coffee-icon.svg");
}

.statistics__item--review::before {
    background-image: url("../img/review-icon.svg");
}

.statistics__name {
    margin-bottom: 20px;
}

.statistics__number {
    font-size: 44px;
    line-height: 100%;
    font-weight: 600;
}

.contacts {
    padding-bottom: 140px;
}

.contacts__inner {
    display: flex;
}

.contacts__content {
    margin-right: auto;
    font-size: 16px;
}

.contacts__text {
    max-width: 860px;
    margin-bottom: 30px;
    font-size: 16px;
}

.contacts__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 21px;
    color: #2352de;
}

.contacts__phone {
    margin-bottom: 8px;
}

.contacts__items {
    display: flex;
}

.contacts__item:not(:last-child) {
    margin-right: 64px;
}

.contacts__link {
    position: relative;
}

.contacts__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts__link--instagramm::before {
    background-image: url("../img/instagram-icon.svg");
}

.contacts__link--facebook::before {
    background-image: url("../img/facebook-icon.svg");
}

.contacts__link--telegram::before {
    background-image: url("../img/telegram-icon.svg");
}

.form {
    display: block;
    max-width: 540px;
    width: 100%;
}

.form__top {
    display: flex;
    margin-bottom: 30px;
}

.form__label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
}

.form__enter {
    width: 255px;
    height: 44px;
    padding: 13px 15px;
    background-color: #f6f6f8;
    border: none;
}

.form__enter::placeholder {
    font-size: 14px;
    color: #9c9cab;
}

.form__name {
    margin-right: 30px;
}

.form__textarea {
    max-width: 540px;
    width: 100%;
    height: 115px;
    margin-bottom: 26px;
    resize: none;
}

.footer {
    padding: 50px 0;
    background-color: #343740;
}

.footer__logo {
    display: flex;
    justify-content: center;
}

@media(max-width: 1200px) {
    .section {
        padding: 110px 0;
    }

    .title {
        font-size: 42px;
        margin-bottom: 55px;
    }

    .header__top {
        padding-top: 35px;
    }

    .header__span {
        font-size: 70px;
    }

    .header__content {
        padding-top: 35px;
    }
}

@media(max-width: 992px) {
    body.lock {
        overflow: hidden;
    } 

    .section {
        padding: 85px 0;
    }

    .title {
        font-size: 38px;
        margin-bottom: 45px;
    }

    .logo__img {
        width: 140px;
        height: 45px;
    }

    .menu__burger {
        position: relative;
        display: block;
        width: 30px;
        margin-left: auto;
        border: none;
        height: 20px;
        background-color: transparent;
    }

    .menu__burger::before,
    .menu__burger::after {
        content: "";
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: transform 0.5s;
    }

    .menu__line {
        position: absolute;
        background-color: #ffffff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: transform 0.5s;
    }

    .menu__burger::before {
        top: 0;
    }

    .menu__burger::after {
        bottom: 0;
    }

    .menu__burger.menu__burger--active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .menu__burger--active .menu__line {
        transform: scale(0);
    }

    .menu__burger.menu__burger--active::after {
        transform: rotate(-45deg);
        bottom: 9px
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #7792e0;
        text-align: center;
        padding: 30px 0;
        transform: translateY(-200%);
        transition: transform 0.5s;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header__top {
        padding-top: 25px;
    }

    .header__top--active {
        height: 100%;
    }

    .header__span {
        font-size: 50px;
    }

    .header__title {
        font-size: 45px;
    }

    .header__navigation.header__navigation--active .menu {
        transform: translateY(0);
    }

    .menu__item:not(:last-child) {
        margin: 0 0 22px 0;
    }

    .menu__link {
        padding: 7px 0;
        display: block;
    }
}

@media(max-width: 768px) {
    .section {
        padding: 65px 0;
    }

    .title {
        font-size: 32px;
        margin-bottom: 35px;
    }

    .header__span {
        font-size: 44px;
        max-width: 470px;
    }
}

@media(max-width: 576px) {
    .section {
        padding: 50px 0;
    }

    .title {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .logo__img {
        width: 110px;
        height: 36px;
    }

    .header__title {
        font-size: 28px;
    }

    .header__top {
        padding-top: 15px;
    }

    .header__link {
        font-size: 14px;
        margin-bottom: 45px;
    }

    .about__text {
        font-size: 16px;
    }

    .about__text p:not(:last-child) {
        margin-bottom: 15px;
    }

    .skills__inner {
        display: block;
    }

    .skills__img {
        margin-bottom: 30px;
    }

    .skills__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .skills__item:not(:last-child) {
        margin-bottom: 24px;
    }

    .skills__unfill {
        max-width: 300px;
    }

    .service__items {
        display: block;
    }

    .service__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .service__item::before {
        width: 40px;
        height: 40px;
        top: -30px;
    }

    .service__headding {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .works__filter {
        display: block;
        margin: 0 auto 30px;
    }

    .works__catalog:not(:last-child) {
        margin-bottom: 15px;
    }

    .works__btn {
        font-size: 18px;
    }

    .works__items {
        grid-template-columns: repeat(2, 165px);
        gap: 15px;
        margin-bottom: 30px;
    }

    .reviews__name {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .reviews__text {
        font-size: 16px;
    }

    .reviews__video {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .reviews__video::after {
        width: 17px;
        height: 20px;
    }

    .statistics__item {
        max-width: 165px;
        padding: 76px 0 25px;
    }

    .statistics__item::before {
        top: 25px;
        width: 35px;
        height: 35px;
    }

    .statistics__item--works::before {
        width: 42px;
    }

    .statistics__item--clients::before {
        width: 40px;
    }

    .statistics__name {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .statistics__number {
        font-size: 30px;
    }

    .contacts__inner {
        display: block;
    }

    .contacts__content {
        margin-bottom: 30px;
    }

    .form__top {
        display: block;
        margin-bottom: 0;
    }

    .form__enter {
        margin-bottom: 15px;
    }

    .footer {
        padding: 32px 0;
    }
}








